@model XmlWebForms.Models.dotacia

@{
    ViewBag.Title = "index";
    Layout = "~\\Views\\Shared\\_Layout.cshtml";
}

<h2>index</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>dotacia</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nazovFirmy)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nazovFirmy)
            @Html.ValidationMessageFor(model => model.nazovFirmy)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pravnaForma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pravnaForma)
            @Html.ValidationMessageFor(model => model.pravnaForma)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ico)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ico)
            @Html.ValidationMessageFor(model => model.ico)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.dic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.dic)
            @Html.ValidationMessageFor(model => model.dic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.telefon)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefon)
            @Html.ValidationMessageFor(model => model.telefon)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.adresa)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.adresa)
            @Html.ValidationMessageFor(model => model.adresa)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.mesto)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.mesto)
            @Html.ValidationMessageFor(model => model.mesto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.okres)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.okres)
            @Html.ValidationMessageFor(model => model.okres)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.kraj)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.kraj)
            @Html.ValidationMessageFor(model => model.kraj)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.psc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.psc)
            @Html.ValidationMessageFor(model => model.psc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ziadanaSuma)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ziadanaSuma)
            @Html.ValidationMessageFor(model => model.ziadanaSuma)
        </div>

     

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
    
    
    <fieldset>
        <legend>Previous roles</legend>
        <div class="nakladyDiv">
            <div class="nakladItem_0">
            @Html.EditorFor(model => model.naklady)
             </div>
         </div>
        <input type="button" id="add" value="add one" /> 
        <input type="button" id="remove" value="remove one" /> 
    </fieldset>
    
}
<script type="text/javascript">

    $(document).ready(function () {
        var iter = 0;
        var newblock = $('.nakladyDiv').html();
        $('#add').click(function () {
            iter++;
            $newBlockObj = $(newblock);
            //var newtext = newblock.replace("naklady[0]", "naklady[" + iter + "]").replace("naklady_0_", "naklady_"+iter+"_");
            $newBlockObj.find('#nakladItem').attr("id", "nakladItem" + iter);

            $newBlockObj.find('input').each(function () {
                var obj = $(this)[0];
                if (obj.name == "naklady[0].polozka") {
                    obj.name = "naklady[" + iter + "].polozka";
                    obj.id = "naklady_" + iter + "__polozka";
                } else if (obj.name == "naklady[0].cena") {
                    obj.name = "naklady[" + iter + "].cena";
                    obj.id = "naklady_" + iter + "__cena";
                }
                
               
            });
           
            $newBlockObj.find('label').each(function () {
                var obj = $(this);
                if (obj.attr("for") == "naklady_0__polozka") {
                    obj.attr("for", "naklady_" + iter + "__polozka");
                } else if (obj.attr("for") == "naklady_0__cena") {
                    obj.attr("for", "naklady_" + iter + "__cena");
                }

            });

            $newBlockObj.find('span').each(function () {
                var obj = $(this);
                if (obj.attr("data-valmsg-for") == "naklady[0].polozka") {
                    obj.attr("data-valmsg-for", "naklady[" + iter + "].polozka");
                } else if (obj.attr("data-valmsg-for") == "naklady[0].cena") {
                    obj.attr("data-valmsg-for", "naklady[" + iter + "].cena");
                }

            });

            $('.nakladyDiv').append($newBlockObj.html());
           
        });
    });

</script>