@model XmlWebForms.Models.dotacia

@{
    ViewBag.Title = "index";
    Layout = "~\\Views\\Shared\\_Layout.cshtml";
}



@if (ViewBag.errors != null)
{ 
     <div style="background: #F5DCCA; padding:10px; margin:10px;">
       
    @if ((bool)ViewBag.errors)
    {
        <span style="color:red">
            XML nie je Validné!
        </span>
    }
    else
    {
        <span style="color:green">
            XML je Validné!
        </span>
    }
    
    @if (ViewBag.xml != null) { 
        <div>
           @{ var xmlResult = (string)ViewBag.xml;}
            @xmlResult
        </div>
    }

   </div>
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dotácia na kultúru</legend>
        
        <table>
            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.nazovFirmy)
        </div>
                    </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.nazovFirmy)
            @Html.ValidationMessageFor(model => model.nazovFirmy)
        </div>
                </td>
                </tr>
            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.pravnaForma)
        </div>
                    </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.pravnaForma)
            @Html.ValidationMessageFor(model => model.pravnaForma)
        </div>
                    </td>
                </tr>
            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ico)
        </div>
                    </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.ico)
            @Html.ValidationMessageFor(model => model.ico)
        </div>
                    </td>
                </tr>
            <tr>
             <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.dic)
        </div>
                 </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.dic)
            @Html.ValidationMessageFor(model => model.dic)
        </div>
                    </td>
                </tr>
            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.telefon)
        </div>
                    </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefon)
            @Html.ValidationMessageFor(model => model.telefon)
        </div>
                    </td>
                </tr>
            <tr>
                    <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.email)
        </div>
                        </td>
                    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.email)
            @Html.ValidationMessageFor(model => model.email)
        </div>
                        </td>
                </tr>
            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.adresa)
        </div>
                    </td>
                    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.adresa)
            @Html.ValidationMessageFor(model => model.adresa)
        </div>
                </td>
                </tr>
            <tr>
                    <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.mesto)
        </div>
                    </td>
                    <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.mesto)
            @Html.ValidationMessageFor(model => model.mesto)
        </div>
                        </td>
                    </tr>
            <tr>
            <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.okres)
        </div>
                </td>
            <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.okres)
            @Html.ValidationMessageFor(model => model.okres)
        </div>
                </td>
            </tr>
            <tr>
                <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.kraj)
        </div>
                    </td>
                <td>
        <div class="editor-field">
            @Html.EditorFor(model => model.kraj)
            @Html.ValidationMessageFor(model => model.kraj)
        </div>
                    </td>
                </tr>
<tr>
    <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.psc)
        </div>
    </td>
    <td>   
         <div class="editor-field">
            @Html.EditorFor(model => model.psc)
            @Html.ValidationMessageFor(model => model.psc)
        </div>
    </td>
</tr>
            
<tr style="height:20px"><td></td></tr>                  
<tr>
    <td>
        <div class="editor-label">
            @Html.LabelFor(model => model.ziadanaSuma)
        </div>
    </td>
    <td>
         <div class="editor-field">
            @Html.EditorFor(model => model.ziadanaSuma)
            @Html.ValidationMessageFor(model => model.ziadanaSuma)
        </div>
    </td>
</tr>
</table>

        
   
    
    
    <fieldset>
        <legend class="subLegend">Náklady</legend>
        <div class="nakladyDiv">
            <div class="nakladItem_0">
            @Html.EditorFor(model => model.naklady)
             </div>
         </div>
        <input type="button" id="add" value="pridat" /> 
        <input type="button" id="remove" value="odstranit" /> 
    </fieldset>
    
    </fieldset>
        <table>
            <tr>
                <td><input type="submit" name="ValidateXML" value="Validovať XML" /></td>
                <td><input type="submit" name="Transform" value="Transformovať na Text" /></td>
            </tr>
        </table>
    
    
    
}



<script type="text/javascript">

    $(document).ready(function () {
        var iter = 0;
        var newblock = $('.nakladyDiv').html();
        $('#add').click(function () {
            iter++;
            $newBlockObj = $(newblock);
            //var newtext = newblock.replace("naklady[0]", "naklady[" + iter + "]").replace("naklady_0_", "naklady_"+iter+"_");
            $newBlockObj.find('#nakladItem').attr("id", "nakladItem" + iter);

            $newBlockObj.find('input').each(function () {
                var obj = $(this)[0];
                if (obj.name == "naklady[0].polozka") {
                    obj.name = "naklady[" + iter + "].polozka";
                    obj.id = "naklady_" + iter + "__polozka";
                } else if (obj.name == "naklady[0].cena") {
                    obj.name = "naklady[" + iter + "].cena";
                    obj.id = "naklady_" + iter + "__cena";
                }
                
               
            });
           
            $newBlockObj.find('label').each(function () {
                var obj = $(this);
                if (obj.attr("for") == "naklady_0__polozka") {
                    obj.attr("for", "naklady_" + iter + "__polozka");
                } else if (obj.attr("for") == "naklady_0__cena") {
                    obj.attr("for", "naklady_" + iter + "__cena");
                }

            });

            $newBlockObj.find('span').each(function () {
                var obj = $(this);
                if (obj.attr("data-valmsg-for") == "naklady[0].polozka") {
                    obj.attr("data-valmsg-for", "naklady[" + iter + "].polozka");
                } else if (obj.attr("data-valmsg-for") == "naklady[0].cena") {
                    obj.attr("data-valmsg-for", "naklady[" + iter + "].cena");
                }

            });

            $('.nakladyDiv').append($newBlockObj.html());
           
        });
    });

</script>